svg {
  background-color: #eeeeee;
  overflow: visible;
  display: block;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  height: 100vh;
  padding: 0 30px;
}

button {
  width: 8.25rem;
  border: 2px solid black;
  font-size: large;
  border-radius: 30px;
  outline-style: none;
}
button:hover {
  background: #000;
  color: #ffffff;
}
